/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
/* Logo Styling */
.navbar-container-logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #90E6FC;
    text-decoration: none;
}

/* Menu Container */
.navbar-container-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Menu Item Styling */
.navbar-container-menu-item {
    margin: 0 10px;
}

/* Menu Item Link Styling */
.navbar-container-menu-item-link {
    display: flex;
    background-color: rgb(55, 55, 55); 
    text-decoration: none; 
    color: white; 
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.7rem;
}

/* Hover Effect */
.navbar-container-menu-item-link:hover {
    background-color: #90E6FC; 
    color: black; 
}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 900px) {
    .navbar-container-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 80px;
        width: 100%;
        left: -110%;
        transition: all 0.5s ease;
    }

    .navbar-container-menu.active {
        background:  #222222;
        left: 0px;
    } 

    .navbar-container-menu-item {
        margin: 0px;
        padding: 20px 0px;
        width: 100%;
    }

    .navbar-container-menu-item-link {
        background: inherit;
        border-bottom: 1px solid rgb(55, 55, 55);
        font-size: 1rem;
    }

    .nav-icon {
        display: block;
        cursor: pointer;
        color: #90E6FC;
    }
}