.timeline {
    display: flex;
    position: relative;
    max-width: 90%;
    margin: 50px auto;
    flex-direction: column;
}

.timeline-container {
    position: relative;
    width: 50%;
    padding: 10px 50px;
    border-radius: 10px;
    animation: movedown 1s linear forwards;
    opacity: 0;
    }

/* pushes the cards down */
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

/* have the cards appear one by one */

.timeline-container:nth-child(1) {
    animation-delay: 0s;
}

.timeline-container:nth-child(2) {
    animation-delay: 1s;
}

.timeline-container:nth-child(3) {
    animation-delay: 2s;
}

.timeline-container:nth-child(4) {
    animation-delay: 3s;
}

.timeline-item {
    padding: 20px 30px;
    position: relative;
    background: rgb(55,55,55);
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

.timeline-item h2 {
    background: #36D1DC; /* fallback for old browsers */
    background: -webkit-linear-gradient( to right,#36D1DC,#5B86E5);
    background: linear-gradient(to right, #36D1DC, #5B86E5); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.timeline-img {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    right: -28px;
    top: 32px;
    z-index: 10;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right img {
    left: -22px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: linear-gradient( to bottom,#36D1DC,#5B86E5);
    top: 0px;
    left: 50%;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

/* draws a line downwards */
@keyframes moveline {
     0% {
        height: 0%;
     }

     100% {
        height: 100%;
     }
}

.timeline-item small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 30px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(55,55,55);;
    right: -15px;
}

.right-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 30px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(55,55,55);;
    left: -15px;
}

@media screen and (max-width: 900px) {
    .timeline {
        margin: 10px auto;
    }

    .timeline::after {
        left: 30px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .timeline-item small {
        margin-bottom: 10px;
    }

    .right {
        left: 0;
    }

    .left img, .right img {
        left: 8px;
    }

    .left-arrow, .right-arrow {
        border-right: 15px solid rgb(55,55,55);;
        border-left: 0;
        left: -15px;
    }
}