.projects {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.projects-title {
    background: #36D1DC; 
    background: -webkit-linear-gradient( to right,#36D1DC,#5B86E5);
    background: linear-gradient(to right, #36D1DC, #5B86E5); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    font-size: 2rem;
    margin: 20px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* project card */
.card {
    perspective: 1000px; /* Adds 3D perspective */
    width: 400px; /* Adjust width */
    height: 400px; /* Adjust height */
    position: relative;
}

/* blue fade outline */
.card-container::before {
    content: '';
    position: absolute;
    top: -3px; 
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(to right, #36D1DC, #2b77ea);
    border-radius: 30px;
}

/* project card container */
.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    transition: transform 0.7s ease-in-out; 
}

/* flip on hover */
.card:hover .card-container {
    transform: rotateY(180deg); 
}

/* front and back of card */
.project-card-front,
.project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
}

/* front side */
.project-card-front {
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* back side */
.project-card-back {
    background-color: rgb(55, 55, 55); 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); 
}

/* styling for image */
.project-card-image-container {
    overflow: hidden;
    position: relative;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 100%;
}

.project-card-description {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

.project-card-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    display: block;
    border-radius: 30px 30px 0 0;
    transition: filter 0.3s ease;
}

.project-card-title {
    background: #36D1DC; 
    background: -webkit-linear-gradient( to right,#36D1DC,#5B86E5);
    background: linear-gradient(to right, #36D1DC, #5B86E5); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    font-size: 1.5rem;
    margin: 20px;
}

.project-card-description {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 300px; 
        margin-bottom: 10px;
        }

    .project-card-description {
        font-size: 0.8rem;
    }
}
